<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manong.dao.PermissionMapper">

    <select id="findPermissionListByUserId" resultType="com.manong.entity.Permission">
        SELECT DISTINCT p.id,
                        p.parent_id,
                        p.label,
                        p.code,
                        p.url,
                        p.type,
                        p.icon,
                        p.remark,
                        p.path,
                        p.name
        FROM sys_user AS u
                 LEFT JOIN sys_user_role AS ur ON u.id = ur.user_id
                 LEFT JOIN sys_role AS r ON ur.role_id = r.id
                 LEFT JOIN sys_role_permission AS rp ON rp.`role_id` = r.id
                 LEFT JOIN sys_permission AS p ON rp.permission_id = p.id
        WHERE u.id = #{userId}
        ORDER BY p.id ASC
    </select>
</mapper>
